.color-picker ul {
    padding: 0;
    list-style: none;
    display: inline-flex;
}

.color-picker ul li {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border: 1px solid #27263a;
}

.color-picker .color.default {
    background-color: var(--secondary-bg-color); 
}

.color-picker .color.red {
    background-color: var(--picker-color-red);
}

.color-picker .color.yellow {
    background-color: var(--picker-color-yellow);
}

.color-picker .color.pink {
    background-color: var(--picker-color-pink);
}

.color-picker .color.green {
    background-color: var(--picker-color-green);
}

.color-picker .color.orange {
    background-color: var(--picker-color-orange);
}

.color-picker .color.purple {
    background-color: var(--picker-color-purple);
}

.color-picker .color.blue {
    background-color: var(--picker-color-blue);
}
