.page-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    color: var(--todo-page-main-color);
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 30px;
}

.no-notes {
    color: var(--secondary-bg-color);
    font-size: 50px;
    margin-top: 150px;
    text-transform: uppercase;
    text-align: center;
}

.no-note-created {
    color: var(--main-bg-color);
}

.add-todo-entry {
    background: var(--secondary-bg-color);
    border-radius: 50%;
    bottom: 15px;
    color: #fff;
    font-size: 32px;
    position: fixed;
    right: 15px;
    padding: 0;
    width: 60px;
    height: 60px;
    border: 0;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #26243ead;
}

.active {
    display: block;
}

.add-entry-form form {
    display: grid;
    width: 600px;
}

.close-form {
    background: var(--secondary-bg-color);
    border: 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    padding: 0;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 40px;
    z-index: 10;
    font-family: sans-serif;
}

.add-entry-form {
    background-color: var(--todo-page-main-color);
    padding: 20px;
    border-radius: 20px;
}

.add-entry-form input, .page-todo .add-entry-form textarea {
    text-align: left;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
}

 .add-entry-form textarea {
    height: 200px;
}

 .add-entry-form button {
    background: #2882ef;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 38px;
    border-radius: 5px;
    cursor: pointer;
}

.todo-list {
    list-style: none;
    padding: 0;
    width: 800px;
}

.todo-list .list-item {
    background: #434357;
    color: white;
    font-weight: 500;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
}

.todo-list .list-item .inner {
    padding: 0 5px;
}

.todo-list .list-item .title {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    padding: 15px 10px;
    position: relative;
    margin-left: 20px;
}

.todo-list .list-item .note {
    display: none;
    font-size: 18px;
    padding: 15px;
    border-top: 1px solid #313142;
    color: #a3949d;
}

.title-complete {
    text-decoration: line-through;
}

.check {
    border: 1px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    background: white;
}

.delete {
    position: absolute;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    top: 15px;
}

.complete {
    background: #38dd38;
}

.category-cards ul {
    display: inline-flex;
    list-style: none;
    padding: none;
    flex-wrap: wrap;
}

.category-cards ul li {
    background-color: var(--secondary-bg-color);
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
    position: relative;
    min-width: 120px;
}

.category-cards ul li .title {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 44px;
}

.category-cards ul li .count {
    color: orange;
    font-size: 18px;
}

.category-cards .delete {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    top: unset;
    color: white;
}

.edit-note {
    position: absolute;
    top: 15px;
    right: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.check-container {
    display: inline-block;
    width: 20px;
    height: 13px;
    position: absolute;
    top: 18px;
    left: 10px;
}