:root {
  --main-bg-color: #282c34;
  --secondary-bg-color: hsl(240deg 12.99% 30.2);
  --home-page-main-color: hsl(186.67deg 72.41% 65.88%);
  --magento-page-main-color: #d5175c;
  --todo-page-main-color: rgb(239, 154, 41);
  --about-page-main-color: #34a853;
  --settings-page-main-color: silver;


  --picker-color-red: red;
  --picker-color-yellow: yellow;
  --picker-color-pink: pink;
  --picker-color-blue: blue;
  --picker-color-orange: orange;
  --picker-color-purple: purple;
  --picker-color-green: green;
  }